<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="./src/favicon.ico">
    <!-- 文字エンコードをUTF-8に指定 -->
    <meta charset="utf-8">
    <!-- レンダリングを最新に指定 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 拡大を禁止 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>タイトル画面</title>

    <!-- Semantic UI を読み込む -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!-- Vue.js を読み込む -->
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>

    <!-- 共通のCSSファイルを読み込む -->
    <link rel="stylesheet" href="./common/style.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <!-- Vue.jsで読み込む -->
    <h1>BOUQUET</h1>
    <div id="app">
        <div class="ui main container">
            <div class="ui stackable grid">
                <div class="four wide column"></div>
                <div class="eight wide column">
                    <div class="ui segment">
                        <form class="ui large form" v-on:submit.prevent="submit">
                            <!-- v-if="mode==login" -->
                            <div class="field" v-if="mode=='login'">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <!-- v-model="user.userId" -->
                                    <input type="email" placeholder="メールアドレス" v-model="user.user_id" required>
                                    <!--inputには/inputはいらない!、placeholderは薄字になる-->
                                </div>
                            </div>
                            <!--  v-if="mode==login" -->
                            <div class="field" v-if="mode=='login'">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <!--  v-model="user.password" -->
                                    <input type="password" placeholder="パスワード" v-model="user.password" required>
                                </div>
                            </div>
                            <div class="field" v-if="mode=='signup'">
                                <h2>Welcome  to  BOUQUET</h2>
                                <div class="wrap">
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input type="text" placeholder="ユーザー名" v-model="user.user_name" required>
                                    </div>
                                </div>
                                <div class="wrap">
                                    <div class="ui left icon input">
                                        <i class="envelope outline icon"></i>
                                        <input type="email" placeholder="メールアドレス" v-model="user.user_id" required>
                                    </div>
                                </div>
                                <div class="wrap">
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input type="password" placeholder="パスワード" v-model="user.password" required>
                                    </div>
                                </div>
                                <div class="wrap">
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input type="password" placeholder="再確認パスワード" v-model="user.re_password" required>
                                    </div>
                                </div>
                            </div>
                            <!-- ログインボタン -->
                            <button class="login" type="submit">
                                  {{ submitText }}
                              </button>
                        </form>
                    </div>
                    <div class="button-wrapper">
                        <!-- 新規登録ボタン -->
                        <button class="sign_up" type="submit" v-on:click="toggleMode">
                              {{ toggleText }}
                          </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- APIのURLを読み込むJavaScriptファイル -->
     <script src="./common/config.js" charset="utf-8"></script>
    <!-- 各ページで使うJavaScriptファイルはこの行より下で読み込む -->
    <script src="./js/index.js" charset="utf-8"></script>
</body>

</html>
